# ======================
# IDE / EDITORS
# ======================
.idea/
.vscode/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db

# ======================
# TEMP / LOGS
# ======================
*.log
